.list p{
    padding: 10px;
    position: relative;
    transition: ease-in-out;
}
.list{
  background: linear-gradient(
    90deg,
    rgb(255, 190, 12) 0%,
    rgb(114, 11, 179) 100%
  );
  border: 0; 
  color: #fff;
  width: 300px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
}
.button{
    position:absolute;
    right:650px;
    background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
    cursor: pointer;
    padding: 15px 20px;
}
.update{
  margin-right: 5px;
  color: #fff;
}

.icons {
  margin-right: 5px;
  color: #fff;
}