body{
  background: linear-gradient(
    90deg,
    rgb(79, 102, 235) 0%,
    rgb(107, 8, 138) 100%
  );
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 500px;
  min-height: 500px;
  background: linear-gradient(
    190deg,
    rgb(204, 194, 106) 0%,
    rgba(61, 131, 189, 0.979)100%
  );
  
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

#todo input{
  background: linear-gradient(
    90deg,
    rgb(97, 12, 255) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  border: 0; 
  color: #fff;
  width: 300px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
}
#todo input::placeholder{
  color: rgba(255,255,255,0.5);
}
#todo input:focus,button:focus{
  outline: none;
}
#todo button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background: linear-gradient(
      90deg,
      rgb(117, 12, 255) 0%,
      rgb(250, 121, 0) 100%
    );
  cursor: pointer;
}
.pop{
  position:absolute;
    right:590px;
    background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
    cursor: pointer;
    padding: 15px 20px;
  }